<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marylandtransitcommuters"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_bus_white"
        android:label="@string/app_name"
        android:theme="@style/Theme.MyTheme"
        android:hardwareAccelerated="true" >
        <activity
            android:name="com.marylandtransitcommuters.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" 
            
            android:screenOrientation="portrait" 
            android:configChanges="orientation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Provides search suggestions for words and their definitions. -->
<!--         <provider android:name="com.marylandtransitcommuters.database.TransitProvider" -->
<!--                   android:authorities="com.marylandtransitcommuters.TransitProvider" /> -->
        
        <service android:name="com.marylandtransitcommuters.service.TransitService" />
        
    </application>

</manifest>
